:root {
  --bg-color: #ffffff;
  --fg-color: #171717;
   --main-font-inter: 'Inter', system-ui, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
  font-family: var(--main-font-inter), -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  user-select: none;
    -ms-overflow-style: none; 
  scrollbar-width: none; 
}

