.container{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 10px 10px;
    background-color: var(--bg-color);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.text{
    color: #404040;
    font-size: 24px;
    font-weight: 300;
}

.container:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container:active{
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}