.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 16px;
    background-color: var(--bg-color);
    border-radius: 12px;
}

.text{
    color: black;
    font-weight: 400;
    font-size: 24px;
}