.leftSearchBarContainer{
    display: flex;
    flex-direction: row;
    width: 100%; /* 100% ширины */
    box-sizing: border-box;
    background-color: none;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    gap: 24px;
}

.leftSearchBar{
    display: flex;
    height: 48px;
    gap: 24px;
    flex: 1;
    width: 100%; /* Добавляем 100% ширину */
}

.searchContainer {
    width: 312px; /* Фиксированная ширина для десктопа */
    flex-shrink: 0; /* Запрещаем сжатие */

}

.resetButton{
    height: 48px;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .leftSearchBarContainer {
        height: 48px;
        gap: 16px;
        width: 100%;
    }
    
    .leftSearchBar {
        gap: 16px;
        width: 100%;
    }

        .searchContainer {
        width: 100%;
        flex: 1;
    }
}